@import './base.css';
body {
    background: var(--color-background-soft);
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
    font-size: 15px;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
      font-size: 30px;
  }

}
